{% extends 'base.html' %}
{% block content %}
{% if exists %}
    <p>Университет уже существует</p>
{% else %}
    <h1>{{title}}</h1>
    <form action="" method="post" enctype="multipart/form-data" id="motherboardForm">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <p><button type="submit">Отправить</button></p>
    </form>
{% endif %}
{% endblock %}