{% extends 'base.html' %}

{% block content %}
<div>Для начала, давайте сделаем <a class="text-decoration-none" href="/users/register/">регистрацию</a> администратора системы</div>
<div>Отлично, теперь, давайте <a class="text-decoration-none" href="/university/add_university/">создадим</a> университет</div>
{% endblock %}