{% extends 'base.html' %}
{% load static %}
{% block content %}
<link type="text/css" href="{% static 'StockTaking/css/list.css' %}" rel="stylesheet" />

<style type="text/css">
    .select2 {
        width: 100% !important;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4>{{ title }}</h4>
        </div>
        <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" id="motherboardForm">
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>
                {% for f in form %}
                    {% if f.field.widget.input_type == "checkbox" %}
                        <div class="form-check mb-3">
                            {{ f }}
                            <label class="form-check-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                        </div>
                    {% else %}
                        <div class="mb-3">
                            <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                            {{ f }}
                            <div class="form-error text-danger">{{ f.errors }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div id="previewContainer" class="mt-3" style="display: none;"><img id="photoPreview" alt="Предпросмотр фотографии" class="img-thumbnail" style="max-width: 200px;"></div>
                <div class="text-end">
                    <button type="submit" class="btn btn-primary mt-3">Создать</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script>
$(document).ready(function() {
    $('.select2').select2();
});
function previewPhoto() {
    const file = document.getElementById("id_photo").files[0];
    if (file.size > 10485760) { // 10 MB (in bytes)
        alert("Файл слишком большой! Размер файла не должен превышать 10 Мб.");
        document.getElementById("userPhoto").value = ""; // Очистка поля файла, если файл слишком большой
        return;
    }

    const reader = new FileReader();
    reader.onload = function(e) {
        const photoPreview = document.getElementById("photoPreview");
        photoPreview.src = e.target.result;
    };
    reader.readAsDataURL(file);
    $("#previewContainer").css("display", "block");
}
</script>
{% endblock %}