{% extends 'base.html' %}
{% load static %}
{% block content %}
<link type="text/css" href="{% static 'StockTaking/css/list.css' %}" rel="stylesheet" />
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4>Добавление производителя материнской платы</h4>
        </div>
        <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" id="motherboardForm">
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>
                {% for f in form %}
                    <div class="mb-3">
                        <label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>
                        {{ f }}
                        <div class="form-error text-danger">{{ f.errors }}</div>
                    </div>
                {% endfor %}
                <div class="text-end">
                    <button type="submit" class="btn btn-primary mt-3">Создать</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}