<!--<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>-->

{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<link href="{% static 'StockTaking/css/list.css' %}" rel="stylesheet" type="text/css">

<ul class="nav nav-tabs">
    <li class="nav-item">
        <button class="nav-link active" onclick="openFields(event, 'Computers')" aria-current="page" href="#">Компьютеры</button>
    </li>
    <li class="nav-item">
        <button class="nav-link" onclick="openFields(event, 'Audiences')" href="#">Аудитории</button>
    </li>
</ul>


    {% for ram in rams %}    
        <p>{{ram}} ГБ</p>
    {% endfor %}


<form id="Computers" class="tabcontent">

    <select class="js-example-basic-single" name="state">
        <option value="AL">Alabama</option>
            ...
        <option value="WY">Wyoming</option>
    </select>

    <div>    
        <label>Объём оперативной памяти:
            <input list="rams" name="rams" id="ramsInput"/>
        </label>
    
        <datalist id="rams">
            {% for ram in rams %}    
                <option value="{{ram}} ГБ">
            {% endfor %}
        </datalist>
    </div>

    <div>    
        <label>Количество ядер процессора:
            <input list="cores" name="cores" id="coresInput"/>
        </label>
    
        <datalist id="cores">
            {% for core in cores %}    
                <option value="{{core}}">
            {% endfor %}
        </datalist>
    </div>

    <div>    
        <label>Объём видеопамяти:
            <input list="videoMemory" name="videoMemory" id="videoMemoryInput"/>
        </label>
    
        <datalist id="videoMemory">
            {% for video_memory in video_memories %}    
                <option value="{{video_memory}} ГБ">
            {% endfor %}
        </datalist>
    </div>

    <div>    
        <label>Операционная система:
            <input list="os" name="os" id="osInput"/>
        </label>
    
        <datalist id="os">
            {% for os in oss %}    
                <option value="{{os}}">
            {% endfor %}
        </datalist>
    </div>

    <div>    
        <label>Программное обеспечение
            <input type='text'
                   placeholder='Programming language name'
                   class='flexdatalist'
                   data-min-length='1'
                   multiple=''
                   data-selection-required='1'
                   list='softwares'
                   name='softwares'
                   id="softwaresInput">
        </label>
    
        <datalist id="softwares">
            {% for software in softwares %}    
                <option value="{{software}}">{{software}}</option>
            {% endfor %}
        </datalist>
    </div>

    <div>
        <label for="scales">С видеокартой</label>
        <input type="checkbox" id="videocardCheckbox" checked />
    </div>

</form>

<form id="Audiences" class="tabcontent" style="display: none;">
    <div>    
        <label>Количество компьютеров:
            <input list="computers" name="computers" id="computersInput"/>
        </label>
    
        <datalist id="computers">
            {% for computer in computers %}    
                <option value="{{computer}}">
            {% endfor %}
        </datalist>
    </div>

    <div>    
        <label>Количество мест:
            <input list="places" name="places" id="placesInput"/>
        </label>
    
        <datalist id="places">
            {% for place in max_places %}    
                <option value="{{place}}">
            {% endfor %}
        </datalist>
    </div>

    <div>
        <label for="scales">С проектором</label>
        <input type="checkbox" id="projectorCheckbox" checked />
    </div>
</form>

<button class="btn btn-success" id="rr">Send</button>
<div id="result"></div>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="{% static 'StockTaking/js/test.js' %}"></script>
<script src="{% static 'StockTaking/js/list.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function() {
    $('.js-example-basic-single').select2();
});
</script>

{% endblock %}


